* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'fantasy';
    background-color: #000;
}

h1 {
    opacity: 1;
    color: #fff;
    font-size: 72px;
    text-align: center;
    padding-top: 40vh;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.35);
    z-index: 9999;
    transition: opacity 2s;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#content {
    text-align: center;
}

#imaginationBox {
    border: 1px solid black;
    width: 300px;
    height: 400px;
    margin: 20px auto;
    padding: 10px;
}

#randomImage {
    max-width: 100%;
    height: auto;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s;  /* Adjust duration as needed */
}

/* ... other CSS ... */

#header2 {
    opacity: 0;
    position: relative;
    top: 50px;  /* Adjust this to move the text lower */
    font-size: smaller;
    transition: opacity 2s;  /* Adjust duration as needed */
    display: none; // Start off as hidden
}

.hidden {
    display: none;
}
